**Project Deliverable**

Telecom companies often have to extract billing data from multiple CSV files generated from
various systems and transform it into a structured format for analysis and revenue reporting.
This process can be time-consuming, error-prone, and hinder decision-making. Manually
analyzing and reconciling billing data from different sources is a tedious task and often leads to
delays in generating revenue reports. Thus, there is a need for an automated data pipeline that
can extract billing data from multiple sources and transform it into a structured format for
efficient analysis and revenue reporting.

We have 3 datasets that have missing values and outliers, source *https://bit.ly/416WE1X*

**Notes:**
1. The datasets can be joined using Customer ID, Date of purchase/payment/refund, and
country of purchase/payment/refund as keys.
2. The datasets may contain missing values and outliers for some fields, such as the total
amount billed or refund amount.
3. The payment status may be missing or incomplete for some of the transactions.
4. The promo code field may be empty for some of the purchases.
5. The reason for the refund may be missing for some of the refund transactions.

In [2]:
#We install apache-airflow
!pip install apache-airflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apache-airflow
  Downloading apache_airflow-2.5.2-py3-none-any.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 56.4 MB/s eta 0:00:00
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.1.2)
Requirement already satisfied: markdown-it-py>=2.1.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.2.0)
Collecting python-daemon>=3.0.0
  Downloading python_daemon-3.0.1-py3-none-any.whl (31 kB)
Collecting mdit-py-plugins>=0.3.0
  Downloading mdit_py_plugins-0.3.5-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 KB 5.5 MB/s eta 0:00:00
Collecting cron-descriptor>=1.2.24
  Downloading cron_descriptor-1.2.35.tar.gz (29 kB)
  Preparing metadata (setup.py) ... done
Collecting apache-airflow-providers-http
  Downloading apache_airflow_providers_http-4.2.0-py3-none-any.whl (22 kB)
Collecting colorlog<5.0,>=4.0.2
  Downloading colorlog-4.8.0-py2.py3-none-any.whl (10 kB)
Collecting deprecated>=1.2.13
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting lazy-object-proxy
  Downloading lazy_object_proxy-1.9.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.1/62.1 KB 8.3 MB/s eta 0:00:00
Collecting flask-caching>=1.5.0
  Downloading Flask_Caching-2.0.2-py3-none-any.whl (28 kB)
Collecting apache-airflow-providers-sqlite
  Downloading apache_airflow_providers_sqlite-3.3.1-py3-none-any.whl (14 kB)
Collecting python-nvd3>=0.15.0
  Downloading python-nvd3-0.15.0.tar.gz (31 kB)
  Preparing metadata (setup.py) ... done
Collecting marshmallow-oneofschema>=2.0.1
  Downloading marshmallow_oneofschema-3.0.1-py2.py3-none-any.whl (5.8 kB)
Collecting configupdater>=3.1.1
  Downloading ConfigUpdater-3.1.1-py2.py3-none-any.whl (34 kB)
Collecting lockfile>=0.12.2
  Downloading lockfile-0.12.2-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: psutil>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (5.9.4)
Requirement already satisfied: cryptography>=0.9.3 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (40.0.1)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (4.5.0)
Requirement already satisfied: rich>=12.4.4 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (13.3.3)
Collecting dill>=0.2.2
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 KB 11.8 MB/s eta 0:00:00
Collecting apache-airflow-providers-common-sql
  Downloading apache_airflow_providers_common_sql-1.3.4-py3-none-any.whl (31 kB)
Requirement already satisfied: pluggy>=1.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (1.0.0)
Requirement already satisfied: sqlalchemy<2.0,>=1.4 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (1.4.47)
Collecting sqlalchemy-jsonfield>=1.0
  Downloading SQLAlchemy_JSONField-1.0.1.post0-py3-none-any.whl (10 kB)
Requirement already satisfied: tabulate>=0.7.5 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (0.8.10)
Collecting apache-airflow-providers-ftp
  Downloading apache_airflow_providers_ftp-3.3.1-py3-none-any.whl (19 kB)
Requirement already satisfied: markupsafe>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.1.2)
Requirement already satisfied: graphviz>=0.12 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (0.20.1)
Collecting flask-appbuilder==4.1.4
  Downloading Flask_AppBuilder-4.1.4-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 59.8 MB/s eta 0:00:00
Requirement already satisfied: python-slugify>=5.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (8.0.1)
Collecting apache-airflow-providers-imap
  Downloading apache_airflow_providers_imap-3.1.1-py3-none-any.whl (17 kB)
Collecting blinker
  Downloading blinker-1.5-py2.py3-none-any.whl (12 kB)
Collecting flask-wtf>=0.15
  Downloading Flask_WTF-1.1.1-py3-none-any.whl (12 kB)
Requirement already satisfied: python-dateutil>=2.3 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.8.2)
Requirement already satisfied: flask<2.3,>=2.2 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.2.3)
Collecting gunicorn>=20.1.0
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 KB 9.7 MB/s eta 0:00:00
Collecting argcomplete>=1.10
  Downloading argcomplete-3.0.5-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.2/40.2 KB 4.4 MB/s eta 0:00:00
Requirement already satisfied: packaging>=14.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (23.0)
Requirement already satisfied: pygments>=2.0.1 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.14.0)
Collecting flask-session>=0.4.0
  Downloading Flask_Session-0.4.0-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: jinja2>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (3.1.2)
Collecting flask-login>=0.6.2
  Downloading Flask_Login-0.6.2-py3-none-any.whl (17 kB)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.2.0)
Collecting pendulum>=2.0
  Downloading pendulum-2.1.2-cp39-cp39-manylinux1_x86_64.whl (155 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 155.3/155.3 KB 19.4 MB/s eta 0:00:00
Collecting linkify-it-py>=2.0.0
  Downloading linkify_it_py-2.0.0-py3-none-any.whl (19 kB)
Collecting cattrs>=22.1.0
  Downloading cattrs-22.2.0-py3-none-any.whl (35 kB)
Collecting unicodecsv>=0.14.1
  Downloading unicodecsv-0.14.1.tar.gz (10 kB)
  Preparing metadata (setup.py) ... done
Collecting pathspec~=0.9.0
  Downloading pathspec-0.9.0-py2.py3-none-any.whl (31 kB)
Collecting croniter>=0.3.17
  Downloading croniter-1.3.8-py2.py3-none-any.whl (18 kB)
Collecting connexion[flask]>=2.10.0
  Downloading connexion-2.14.2-py2.py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 KB 12.5 MB/s eta 0:00:00
Requirement already satisfied: attrs>=22.1.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (22.2.0)
Requirement already satisfied: tenacity!=8.2.0,>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (8.2.2)
Requirement already satisfied: markdown>=3.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (3.4.3)
Collecting httpx
  Downloading httpx-0.23.3-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.5/71.5 KB 8.8 MB/s eta 0:00:00
Collecting importlib-metadata<5.0.0,>=1.7
  Downloading importlib_metadata-4.13.0-py3-none-any.whl (23 kB)
Requirement already satisfied: jsonschema>=4.0.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (4.3.3)
Collecting pyjwt>=2.0.0
  Downloading PyJWT-2.6.0-py3-none-any.whl (20 kB)
Collecting rfc3339-validator>=0.1.4
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Collecting alembic<2.0,>=1.6.3
  Downloading alembic-1.10.2-py3-none-any.whl (212 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.2/212.2 KB 25.9 MB/s eta 0:00:00
Requirement already satisfied: werkzeug>=2.0 in /usr/local/lib/python3.9/dist-packages (from apache-airflow) (2.2.3)
Collecting setproctitle>=1.1.8
  Downloading setproctitle-1.3.2-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (30 kB)
Requirement already satisfied: click<9,>=8 in /usr/local/lib/python3.9/dist-packages (from flask-appbuilder==4.1.4->apache-airflow) (8.1.3)
Collecting sqlalchemy-utils<1,>=0.32.21
  Downloading SQLAlchemy_Utils-0.40.0-py3-none-any.whl (92 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 12.4 MB/s eta 0:00:00
Collecting marshmallow<4,>=3
  Downloading marshmallow-3.19.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 KB 6.7 MB/s eta 0:00:00
Collecting colorama<1,>=0.3.9
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting email-validator<2,>=1.0.5
  Downloading email_validator-1.3.1-py2.py3-none-any.whl (22 kB)
Collecting WTForms<4
  Downloading WTForms-3.0.1-py3-none-any.whl (136 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 136.5/136.5 KB 9.7 MB/s eta 0:00:00
Collecting marshmallow-enum<2,>=1.5.1
  Downloading marshmallow_enum-1.5.1-py2.py3-none-any.whl (4.2 kB)
Collecting Flask-Babel<3,>=1
  Downloading Flask_Babel-2.0.0-py3-none-any.whl (9.3 kB)
Collecting marshmallow-sqlalchemy<0.27.0,>=0.22.0
  Downloading marshmallow_sqlalchemy-0.26.1-py2.py3-none-any.whl (15 kB)
Collecting Flask-JWT-Extended<5.0.0,>=4.0.0
  Downloading Flask_JWT_Extended-4.4.4-py2.py3-none-any.whl (22 kB)
Collecting apispec[yaml]<4,>=3.3
  Downloading apispec-3.3.2-py2.py3-none-any.whl (27 kB)
Collecting Flask-SQLAlchemy<3,>=2.4
  Downloading Flask_SQLAlchemy-2.5.1-py2.py3-none-any.whl (17 kB)
Collecting prison<1.0.0,>=0.2.1
  Downloading prison-0.2.1-py2.py3-none-any.whl (5.8 kB)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 KB 5.0 MB/s eta 0:00:00
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.9/dist-packages (from cattrs>=22.1.0->apache-airflow) (1.1.1)
Requirement already satisfied: requests<3,>=2.9.1 in /usr/local/lib/python3.9/dist-packages (from connexion[flask]>=2.10.0->apache-airflow) (2.27.1)
Requirement already satisfied: PyYAML<7,>=5.1 in /usr/local/lib/python3.9/dist-packages (from connexion[flask]>=2.10.0->apache-airflow) (6.0)
Collecting clickclick<21,>=1.2
  Downloading clickclick-20.10.2-py2.py3-none-any.whl (7.4 kB)
Collecting inflection<0.6,>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=0.9.3->apache-airflow) (1.15.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.9/dist-packages (from deprecated>=1.2.13->apache-airflow) (1.14.1)
Collecting cachelib<0.10.0,>=0.9.0
  Downloading cachelib-0.9.0-py3-none-any.whl (15 kB)
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.9/dist-packages (from gunicorn>=20.1.0->apache-airflow) (67.6.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata<5.0.0,>=1.7->apache-airflow) (3.15.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=4.0.0->apache-airflow) (0.19.3)
Collecting uc-micro-py
  Downloading uc_micro_py-1.0.1-py3-none-any.whl (6.2 kB)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.9/dist-packages (from markdown-it-py>=2.1.0->apache-airflow) (0.1.2)
Collecting pytzdata>=2020.1
  Downloading pytzdata-2020.1-py2.py3-none-any.whl (489 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 490.0/490.0 KB 41.0 MB/s eta 0:00:00
Requirement already satisfied: docutils in /usr/local/lib/python3.9/dist-packages (from python-daemon>=3.0.0->apache-airflow) (0.16)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.3->apache-airflow) (1.16.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify>=5.0->apache-airflow) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy<2.0,>=1.4->apache-airflow) (2.0.2)
Requirement already satisfied: sqlparse>=0.4.2 in /usr/local/lib/python3.9/dist-packages (from apache-airflow-providers-common-sql->apache-airflow) (0.4.3)
Collecting asgiref
  Downloading asgiref-3.6.0-py3-none-any.whl (23 kB)
Collecting requests-toolbelt
  Downloading requests_toolbelt-0.10.1-py2.py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 KB 6.8 MB/s eta 0:00:00
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 57.4 MB/s eta 0:00:00
Collecting httpcore<0.17.0,>=0.15.0
  Downloading httpcore-0.16.3-py3-none-any.whl (69 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.6/69.6 KB 8.4 MB/s eta 0:00:00
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting rfc3986[idna2008]<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from httpx->apache-airflow) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=0.9.3->apache-airflow) (2.21)
Collecting dnspython>=1.15.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 KB 26.4 MB/s eta 0:00:00
Requirement already satisfied: idna>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from email-validator<2,>=1.0.5->flask-appbuilder==4.1.4->apache-airflow) (3.4)
Requirement already satisfied: Babel>=2.3 in /usr/local/lib/python3.9/dist-packages (from Flask-Babel<3,>=1->flask-appbuilder==4.1.4->apache-airflow) (2.12.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from Flask-Babel<3,>=1->flask-appbuilder==4.1.4->apache-airflow) (2022.7.1)
Collecting anyio<5.0,>=3.0
  Downloading anyio-3.6.2-py3-none-any.whl (80 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.6/80.6 KB 9.8 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 KB 7.5 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.9.1->connexion[flask]>=2.10.0->apache-airflow) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.9.1->connexion[flask]>=2.10.0->apache-airflow) (2.0.12)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 KB 28.5 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 KB 19.9 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 KB 4.5 MB/s eta 0:00:00
Building wheels for collected packages: cron-descriptor, python-nvd3, unicodecsv
  Building wheel for cron-descriptor (setup.py) ... done
  Created wheel for cron-descriptor: filename=cron_descriptor-1.2.35-py3-none-any.whl size=48440 sha256=10eb368867b0bb1455175f15d743fa1816b44751512f3a0f7e18f6b4d9a48954
  Stored in directory: /root/.cache/pip/wheels/b6/c5/95/ecfd3eb95909eadd47c5ad25c8815c348d07bc248e12d3fd97
  Building wheel for python-nvd3 (setup.py) ... done
  Created wheel for python-nvd3: filename=python_nvd3-0.15.0-py3-none-any.whl size=38163 sha256=3d8b11abd71ee353498631330319fcb7b51b3aac75313283af34afe87680f6b1
  Stored in directory: /root/.cache/pip/wheels/60/e8/21/19a3dcfe90e8895952857d42152663fafc5a90d87d3dfe5f58
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-py3-none-any.whl size=10766 sha256=30214be4eada613e44f2928eca7671524d3ea4bc890d4719d827996cc1bcc8b6
  Stored in directory: /root/.cache/pip/wheels/d8/c8/27/b237d3378d5c9ed25c2c63d9af1b3d5ccb99934f3dd030de87
Successfully built cron-descriptor python-nvd3 unicodecsv
Installing collected packages: unicodecsv, rfc3986, lockfile, cron-descriptor, colorlog, WTForms, uc-micro-py, sniffio, setproctitle, rfc3339-validator, pytzdata, python-daemon, pyjwt, prison, pathspec, multidict, marshmallow, Mako, lazy-object-proxy, inflection, importlib-metadata, h11, gunicorn, frozenlist, dnspython, dill, deprecated, configupdater, colorama, clickclick, cattrs, cachelib, blinker, async-timeout, asgiref, argcomplete, apispec, apache-airflow-providers-imap, apache-airflow-providers-ftp, apache-airflow-providers-common-sql, yarl, sqlalchemy-utils, sqlalchemy-jsonfield, requests-toolbelt, python-nvd3, pendulum, mdit-py-plugins, marshmallow-sqlalchemy, marshmallow-oneofschema, marshmallow-enum, linkify-it-py, email-validator, croniter, apache-airflow-providers-sqlite, anyio, alembic, aiosignal, httpcore, flask-wtf, Flask-SQLAlchemy, flask-session, flask-login, Flask-JWT-Extended, flask-caching, Flask-Babel, connexion, aiohttp, httpx, flask-appbuilder, apache-airflow-providers-http, apache-airflow
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 6.1.0
    Uninstalling importlib-metadata-6.1.0:
      Successfully uninstalled importlib-metadata-6.1.0
Successfully installed Flask-Babel-2.0.0 Flask-JWT-Extended-4.4.4 Flask-SQLAlchemy-2.5.1 Mako-1.2.4 WTForms-3.0.1 aiohttp-3.8.4 aiosignal-1.3.1 alembic-1.10.2 anyio-3.6.2 apache-airflow-2.5.2 apache-airflow-providers-common-sql-1.3.4 apache-airflow-providers-ftp-3.3.1 apache-airflow-providers-http-4.2.0 apache-airflow-providers-imap-3.1.1 apache-airflow-providers-sqlite-3.3.1 apispec-3.3.2 argcomplete-3.0.5 asgiref-3.6.0 async-timeout-4.0.2 blinker-1.5 cachelib-0.9.0 cattrs-22.2.0 clickclick-20.10.2 colorama-0.4.6 colorlog-4.8.0 configupdater-3.1.1 connexion-2.14.2 cron-descriptor-1.2.35 croniter-1.3.8 deprecated-1.2.13 dill-0.3.6 dnspython-2.3.0 email-validator-1.3.1 flask-appbuilder-4.1.4 flask-caching-2.0.2 flask-login-0.6.2 flask-session-0.4.0 flask-wtf-1.1.1 frozenlist-1.3.3 gunicorn-20.1.0 h11-0.14.0 httpcore-0.16.3 httpx-0.23.3 importlib-metadata-4.13.0 inflection-0.5.1 lazy-object-proxy-1.9.0 linkify-it-py-2.0.0 lockfile-0.12.2 marshmallow-3.19.0 marshmallow-enum-1.5.1 marshmallow-oneofschema-3.0.1 marshmallow-sqlalchemy-0.26.1 mdit-py-plugins-0.3.5 multidict-6.0.4 pathspec-0.9.0 pendulum-2.1.2 prison-0.2.1 pyjwt-2.6.0 python-daemon-3.0.1 python-nvd3-0.15.0 pytzdata-2020.1 requests-toolbelt-0.10.1 rfc3339-validator-0.1.4 rfc3986-1.5.0 setproctitle-1.3.2 sniffio-1.3.0 sqlalchemy-jsonfield-1.0.1.post0 sqlalchemy-utils-0.40.0 uc-micro-py-1.0.1 unicodecsv-0.14.1 yarl-1.8.2

In [3]:
#We import Libraries
import pandas as pd
from datetime import datetime, timedelta
from google.colab import drive
import os.path
from os import path
from airflow import DAG
from airflow.operators.python_operator import PythonOperator
import psycopg2

<ipython-input-3-8b096165f6f2>:9 DeprecationWarning: The `airflow.operators.python_operator.PythonOperator` class is deprecated. Please use `'airflow.operators.python.PythonOperator'`.

In [4]:
#Import the data to dataframe
df1 = pd.read_csv('dataset1.csv')
df2 = pd.read_csv('dataset2.csv')
df3 = pd.read_csv('dataset3.csv')

In [5]:
#Preview the data
df1.head(5)

,customer_id,date_of_purchase,total_amount_billed,payment_status,payment_method,promo_code,country_of_purchase
0,101,04/01/2021,100,paid,credit card,PROMO1,USA
1,102,04/02/2021,200,paid,bank transfer,PROMO2,USA
2,103,04/02/2021,50,overdue,credit card,NaN,UK
3,104,04/03/2021,75,disputed,e-wallet,PROMO3,UK
4,105,04/04/2021,125,paid,credit card,PROMO4,USA

In [6]:
df2.head(5)

,customer_id,date_of_payment,amount_paid,payment_method,payment_status,late_payment_fee,country_of_payment
0,101,04/01/2021,100,credit card,paid,0,USA
1,102,04/03/2021,200,bank transfer,paid,0,USA
2,103,04/03/2021,75,credit card,paid,10,UK
3,104,04/04/2021,50,e-wallet,overdue,0,UK
4,105,04/05/2021,125,credit card,paid,0,USA

In [7]:
df3.head(5)

,customer_id,date_of_refund,refund_amount,reason_for_refund,country_of_refund
0,101,04/03/2021,100,product not as described,USA
1,102,04/06/2021,200,defective product,USA
2,103,04/07/2021,75,change of mind,UK
3,104,04/08/2021,50,product not received,UK
4,105,04/09/2021,25,product not as described,USA

**Cleaning the Data**

Remove any missing values and outliers

In [14]:
#Remove missing data
clean_df1= df1.dropna()
clean_df2= df2.dropna()
clean_df3= df3.dropna()

#Rename some columns in the dataset
clean_df1 = clean_df1.rename(columns={"date_of_purchase": "date", "country_of_purchase": "country","total_amount_billed":"bill"})
clean_df2 = clean_df2.rename(columns={"date_of_payment": "date", "country_of_payment": "country","late_payment_fee":"lateness_fee"})
clean_df3 = clean_df3.rename(columns={"date_of_refund": "date", "country_of_refund": "country"})

Preview Transformed data

In [12]:
clean_df1.sample()

,customer_id,date,bill,payment_status,payment_method,promo_code,country
11,112,04/08/2021,200,paid,bank transfer,PROMO9,USA

In [15]:
clean_df2.sample()

,customer_id,date,amount_paid,payment_method,payment_status,lateness_fee,country
14,115,04/12/2021,75,e-wallet,overdue,15,UK

In [16]:
clean_df3.sample()

    customer_id        date  refund_amount  reason_for_refund country
13          114  04/17/2021            100  defective product     USA

**Merge the data**

In [17]:
merged_df = clean_df1.merge(clean_df2,on = "customer_id").merge(clean_df3, on="customer_id" )

merged_df

,customer_id,date_x,bill,payment_status_x,payment_method_x,promo_code,country_x,date_y,amount_paid,payment_method_y,payment_status_y,lateness_fee,country_y,date,refund_amount,reason_for_refund,country
0,101,04/01/2021,100,paid,credit card,PROMO1,USA,04/01/2021,100,credit card,paid,0,USA,04/03/2021,100,product not as described,USA
1,102,04/02/2021,200,paid,bank transfer,PROMO2,USA,04/03/2021,200,bank transfer,paid,0,USA,04/06/2021,200,defective product,USA
2,104,04/03/2021,75,disputed,e-wallet,PROMO3,UK,04/04/2021,50,e-wallet,overdue,0,UK,04/08/2021,50,product not received,UK
3,105,04/04/2021,125,paid,credit card,PROMO4,USA,04/05/2021,125,credit card,paid,0,USA,04/09/2021,25,product not as described,USA
4,107,04/06/2021,75,overdue,e-wallet,PROMO5,USA,04/07/2021,75,e-wallet,overdue,20,USA,04/12/2021,150,change of mind,USA
5,108,04/06/2021,100,overdue,bank transfer,PROMO6,USA,04/07/2021,100,bank transfer,overdue,30,USA,04/13/2021,75,product not as described,USA
6,110,04/07/2021,25,overdue,credit card,PROMO7,USA,04/08/2021,25,credit card,paid,0,USA,04/14/2021,50,product not received,USA
7,111,04/08/2021,175,paid,e-wallet,PROMO8,UK,04/09/2021,175,e-wallet,paid,0,UK,04/15/2021,175,defective product,UK
8,112,04/08/2021,200,paid,bank transfer,PROMO9,USA,04/10/2021,200,bank transfer,paid,0,USA,04/16/2021,200,change of mind,USA
9,113,04/09/2021,50,disputed,credit card,PROMO10,USA,04/10/2021,50,credit card,disputed,0,USA,04/16/2021,50,product not as described,USA
10,114,04/10/2021,100,paid,credit card,PROMO11,USA,04/11/2021,100,credit card,paid,0,USA,04/17/2021,100,defective product,USA
11,115,04/10/2021,75,overdue,e-wallet,PROMO12,UK,04/12/2021,75,e-wallet,overdue,15,UK,04/18/2021,75,product not received,UK

**Load the data**

Load the transformed data into a database or a file, such as a CSV file,
that can be easily analyzed.

In [19]:
#We load the data into a csv file

merged_df.to_csv('merged.csv',encoding= 'utf-8-sig',index=False)
#files.download('merged.csv')

**Automating the pocess**

Automate the data pipeline by scheduling it to run at a specific
time, such as daily or weekly so that it can update the analysis data automatically.

In [21]:
pip install airflow.providers.google

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement airflow.providers.google (from versions: none)
ERROR: No matching distribution found for airflow.providers.google

In [24]:
# Define the DAG
default_args = {
    'owner': 'telecom',
    'depends_on_past': False,
    'start_date': datetime(2023, 3, 25),
    'email': ['telecom@example.com'],
    'email_on_failure': True,
    'email_on_retry': False,
    'retries': 3,
    'retry_delay': timedelta(minutes=5)
}

dag = DAG(
    'billing_pipeline',
    default_args=default_args,
    description='ETL pipeline for billing records',
    schedule_interval='@daily',
)

# Function to extract data from CSVs
def extract():
    df1 = pd.read_csv('/path/to/file1.csv')
    df2 = pd.read_csv('/path/to/file2.csv')
    df3 = pd.read_csv('/path/to/file3.csv')
    return df1, df2, df3

# Function to connect to Postgres database
def extract_data():
    conn = psycopg2.connect(host="localhost", database="mydb", user="myuser", password="mypassword")
    df = pd.read_sql_query("SELECT * FROM cdr", conn)
    return df

# Function to transform data
def transform_data(df):
    df['duration'] = df['endtime'] - df['starttime']
    df['date'] = df['starttime'].dt.date
    df['hour'] = df['starttime'].dt.hour
    df = df[['date', 'hour', 'duration', 'caller', 'callee']]
    return df

# Function to load data into Postgres database
def load_data(df):
    filename = datetime.today().strftime("%Y%m%d") + '_billing.csv'
    df.to_csv(filename, index=False)
    return filename

# Define tasks
extract = PythonOperator(
    task_id='extract_data',
    python_callable=extract_data,
    dag=dag,
)

transform = PythonOperator(
    task_id='transform_data',
    python_callable=transform_data,
    dag=dag,
)

load = PythonOperator(
    task_id='load_data',
    python_callable=load_data,
    dag=dag,
)

# Set task dependencies
extract >> transform  >> load

<ipython-input-24-6977073e9a3b>:13 RemovedInAirflow3Warning: Param `schedule_interval` is deprecated and will be removed in a future release. Please use `schedule` instead.